#reader-container {
  position: absolute;
  flex-direction: column;
  gap: 5vmin;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reader-container > .dismiss-btn {
  position: absolute;
  top: 5vmin;
  right: 5vmin;
  width: 5vmin;
  height: 5vmin;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background: none;
  font-size: x-large;
}

#reader-container > .options {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 5vmin;
  left: 5vmin;
  border: 0;
  background: none;
}

#reader-words > .bionic {
  font-size: 5vmin;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#reader-words > .bionic-dyslexic {
  font-family: 'Open Dyslexic';
}

