#reader-container {
  position: absolute;
  flex-direction: column;
  gap: 5vmin;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#reader-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 90vw;
  margin-top: 5vw;
}

#reader-header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#reader-header .dismiss-btn {
  width: 5vmin;
  height: 5vmin;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  border: 0;
  background: none;
  font-size: x-large;
}

#reader-header .options {
  display: flex;
  flex-direction: column;
  border: 0;
  background: none;
  text-align: right;
}

#dyslexia-checkbox-label {
  font-family: "Open Dyslexic";
}

#reader-words {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 70%;
}

#reader-words > .bionic {
  font-size: 5vmin;
  text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#reader-words > .bionic-dyslexic {
  font-family: "Open Dyslexic";
}

#reader-controls {
  display: flex;
  flex-direction: column;
  padding: 5vmin;
  gap: 2.5vmin;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.playPause-btn {
  background: none;
  border: none;
  color: var(--foreground);
  font-size: 2em;
  cursor: pointer;
}

.playPause-btn:focus {
  outline: none;
}
