@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Open Dyslexic";
  src: url(./Assets/fonts/OpenDyslexic-Regular.otf) format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Open Dyslexic";
  src: url(./Assets/fonts/OpenDyslexic-Bold.otf) format("opentype");
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #161616;
    --secondary: #3e3e42;
    --foreground: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --secondary: #e7e7e7;
    --foreground: #161616;
  }
}

body {
  margin: 0;
}

#root {
  font-family: "Open Sans";
  font-weight: 200;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root,
div,
i {
  background: var(--background);
  color: var(--foreground);
}

input[type="range"]:focus {
  outline: none;
}

#logo {
  font-size: 10vmin;
  margin-top: 0;
  font-weight: 200;
}

#logo span {
  display: inline-block;
}

#logo span:nth-child(1) {
  font-weight: 900;
  background: #ffa07a;
  padding: 10px;
  border-radius: 3vmin;
  animation: grow-logo 1s ease-in-out;
}

#logo span:nth-child(2)::after {
  content: " ";
  animation: make-z 1s ease-in-out;
  animation-fill-mode: forwards;
}

#logo span:nth-child(3) {
  animation-fill-mode: forwards;
  animation: clink 1.5s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes clink {
  0% {
    opacity: 0;
    font-size: 0;
    transform: rotate(0deg);
  }
  20% {
    font-size: 1em;
  }
  30% {
    opacity: 1;
    transform: rotate(-5deg) translate(5px, 5px);
  }
  50% {
    transform: rotate(-10deg) translate(-10px, -10px);
  }
  60% {
    transform: rotate(5deg) translate(-10px, -10px);
    opacity: 1;
  }
  70% {
    transform: rotate(0deg) translate(0, 0);
    font-size: 1em;
  }
  85% {
    transform: translateX(50vw);
  }
  100% {
    font-size: 0;
    transform: translateX(50vw);
  }
}

@keyframes grow-logo {
  0% {
    font-weight: 200;
  }
  60% {
    font-weight: 200;
  }
  70% {
    font-weight: bold;
  }
}

@keyframes make-z {
  20% {
    font-size: 0;
  }
  60% {
    font-size: 0;
  }
  65% {
    content: "z";
  }
  100% {
    content: "z";
  }
}
